body {
  background-color: $white;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: $black;
}
a {
  text-decoration: none;
}

p {
  max-inline-size: 65ch;
}

.logo {
  font-size: 2.25rem;
  font-weight: 500;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
}

svg,
svg * {
  stroke: $light-black;
}
