body {
  background-color: $white;
  overflow: hidden;
}

p,
a {
  color: $black;
}
a {
  text-decoration: none;
}

p {
  max-inline-size: 65ch;
}

.logo {
  font-size: 2.25rem;
  font-weight: 500;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
}
