// Breakpoints
$layout-breapoint-small: 480px !default;

// Colors
$white: #E6EED6 !default;
$black: #090C02 !default;
$green: #B3FF00 !default;
$blue: #2081C3 !default;

// Font sizes
$font-size-base: 1rem !default; // 16px
$font-size-lg: 7rem !default; // 112px
$font-size-md: 1.625rem !default; // 26px
$font-size-sm: 0.75rem !default; // 12px


// Misc
$border-radius: 10px !default;
$icons-size: 1.5rem !default;
$icons-container-size: 3rem !default;
