// Breakpoints
$layout-breapoint-small: 480px !default;

// Colors
$white: #e6eed6 !default;
$black: #090c02 !default;
$light-black: #565656 !default;
// $gray: #ABACA7 !default;
$gray: #dfdfdf !default;
$green: #b3ff00 !default;
$blue: #2081c3 !default;

// Font sizes
$font-size-base: 1rem !default; // 16px
$font-size-lg: 7rem !default; // 112px
$font-size-md: 1.625rem !default; // 26px
$font-size-sm: 0.75rem !default; // 12px

// Misc
$border-radius: 10px !default;
$icon-border-radius: 16px !default;
$icons-size: 1.5rem !default;
$icons-container-size: 3rem !default;
